.btn {
  &:link,
  &:visited {
    width: 20rem;
    display: block;
    text-transform: uppercase;
    color: $color-primary-light;
    background-color: $color-white;
    text-decoration: none;
    padding: 1.4rem;
    font-weight: 500;

    background-size: 250%;
    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      $color-primary-light 50%
    );
    transition: all 0.4s;
  }

  &:hover,
  &:active {
    background-position: 100%;
    color: $color-white;
    transform: translateX(1rem);
  }
}

.services {
  display: flex;
  margin: 0 6rem;
  flex-wrap: wrap;
}

.service-box {
  background-color: $color-lightgrey-2;
  width: 20rem;
  margin: 1.5rem;
  flex: 1 1 30%;
}

.project__button button {
  border: none;
  color: $color-white;
  text-decoration: none;
  background: transparent;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0 1.4rem 0 1.4rem;
}

@keyframes textIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.is-animated {
  animation: 0.6s zoom-in;
  // animation: .6s rotate-right;
}
