$color-primary: #0f4299;
$color-primary-light: #f2aa4cff; //1763e6
$color-black: #000;
$color-blacklight: #4e4e4e;
$color-white: #fff;
$color-lightgrey: #dcdcdc;
$color-lightgrey-2: #f2f2f2;
$color-darkgrey: #808080;
$color-darkgrey-2: #191919;
