* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Robot", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.3;
  color: #808080;
  background: #000; }

ul {
  list-style: none; }

.btn:link, .btn:visited {
  width: 20rem;
  display: block;
  text-transform: uppercase;
  color: #f2aa4cff;
  background-color: #fff;
  text-decoration: none;
  padding: 1.4rem;
  font-weight: 500;
  background-size: 250%;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #f2aa4cff 50%);
  transition: all 0.4s; }

.btn:hover, .btn:active {
  background-position: 100%;
  color: #fff;
  transform: translateX(1rem); }

.services {
  display: flex;
  margin: 0 6rem;
  flex-wrap: wrap; }

.service-box {
  background-color: #f2f2f2;
  width: 20rem;
  margin: 1.5rem;
  flex: 1 1 30%; }

.project__button button {
  border: none;
  color: #fff;
  text-decoration: none;
  background: transparent;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0 1.4rem 0 1.4rem; }

@keyframes textIn {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0%); } }

.is-animated {
  animation: 0.6s zoom-in; }

.header {
  width: 100%;
  height: 90vh;
  background-color: #000;
  background-image: url(https://cdn.wallpapersafari.com/33/21/K6bUW5.jpg);
  background-repeat: no-repeat;
  background-size: 80rem;
  background-position: 40% 50%;
  color: #fff;
  position: relative; }
  .header__bar {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: -11rem; }
  .header__head {
    font-size: 2.2rem;
    font-weight: 700;
    text-decoration: none;
    margin: 5rem 0 0 12rem;
    color: #f2aa4cff; }
  .header__main-nav {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 1;
    margin: 5rem 6rem 0 2rem;
    list-style: none;
    font-weight: 600; }
    .header__main-nav li {
      margin-left: 4rem; }
      .header__main-nav li a:link,
      .header__main-nav li a:visited {
        color: #fff;
        text-decoration: none;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 500;
        display: block;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.4s; }
      .header__main-nav li a:hover,
      .header__main-nav li a:active {
        border-bottom: 2px solid #f2aa4cff; }
  .header__box {
    position: absolute;
    top: 25rem;
    left: 50rem;
    text-align: center; }
    @media only screen and (max-width: 75em) {
      .header__box {
        left: 30rem; } }
  .header__text-box h1 {
    font-size: 7rem;
    font-weight: 600;
    letter-spacing: normal;
    margin-bottom: 1rem;
    color: #f2aa4cff; }
    @media only screen and (max-width: 56.25em) {
      .header__text-box h1 {
        font-size: 5rem; } }
  .header__text-box p {
    font-size: 2.8rem;
    margin-bottom: 8rem; }
    .header__text-box p span {
      display: none;
      margin-right: 22rem; }
    .header__text-box p .text-in {
      display: block;
      animation: textIn 0.5s ease; }
  .header__btn {
    position: absolute;
    left: 10rem; }
    @media only screen and (max-width: 56.25em) {
      .header__btn {
        left: 0; } }

.section__about {
  background-color: #fff;
  height: 110vh; }
  @media only screen and (max-width: 43.75em) {
    .section__about {
      height: 170vh; } }
  .section__about--full {
    margin: 0 13rem 0 13rem;
    background-color: #dcdcdc;
    padding: 5rem;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
    @media only screen and (max-width: 81.25em) {
      .section__about--full {
        font-size: 1.8rem;
        font-weight: 600; } }
    @media only screen and (max-width: 75em) {
      .section__about--full {
        font-size: 1.6rem;
        font-weight: 600;
        margin: 0 9rem 0 9rem;
        padding-bottom: -3rem; } }
    @media only screen and (max-width: 62.5em) {
      .section__about--full {
        margin: -4rem 5rem 0 5rem; } }
    @media only screen and (max-width: 43.75em) {
      .section__about--full {
        flex-direction: column;
        margin: 0 7rem 0 7rem; } }
  .section__about--first {
    flex: 1; }
  .section__about--row {
    display: flex; }
    @media only screen and (max-width: 51.5625em) {
      .section__about--row {
        flex-direction: column;
        align-items: center; } }
    @media only screen and (max-width: 43.75em) {
      .section__about--row {
        flex-direction: row; } }
  .section__about--image {
    /*   @media only screen and (max-width: $breakpoint-900) {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    } */ }
    .section__about--image img {
      width: 15rem;
      height: 15rem;
      border: 2px solid transparent;
      border-radius: 0.5rem; }
      @media only screen and (max-width: 56.25em) {
        .section__about--image img {
          height: 10rem;
          width: 10rem; } }
      @media only screen and (max-width: 51.5625em) {
        .section__about--image img {
          width: 15rem;
          height: 15rem; } }
  .section__about--info {
    padding-left: 3rem;
    margin-bottom: 3rem;
    font-family: inherit;
    color: #000; }
    @media only screen and (max-width: 51.5625em) {
      .section__about--info {
        padding: 0rem;
        margin-top: 1rem;
        margin-bottom: 1rem; } }
    @media only screen and (max-width: 43.75em) {
      .section__about--info {
        padding-left: 3rem; } }
    .section__about--info p {
      margin-bottom: 1.4rem; }
  .section__about--infotitle {
    font-weight: 700; }
  .section__about--skill {
    color: #000;
    /*  & .clearfix::after {
      content: "";
      clear: both;
      display: table;
    } */ }
    @media only screen and (max-width: 43.75em) {
      .section__about--skill {
        padding-top: 2rem;
        padding-bottom: 2rem; } }
    .section__about--skill p {
      font-weight: 700;
      margin-bottom: 1rem; }
      @media only screen and (max-width: 43.75em) {
        .section__about--skill p {
          font-size: 2rem; } }
    .section__about--skill span {
      color: #4e4e4e; }
    .section__about--skill .skill-right {
      float: right; }
    .section__about--skill .progress {
      position: relative;
      display: block;
      padding: 0.6rem;
      line-height: 1.6rem;
      font-size: 1.6rem;
      border-radius: 3rem;
      margin-bottom: 1rem;
      background: rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.5); }
      .section__about--skill .progress .progress-bar {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        height: 1.6rem;
        border-radius: 10px 0 0 10px;
        overflow: hidden;
        background-color: #f2aa4cff;
        background-size: 100%; }
  .section__about--second {
    flex: 1;
    padding-left: 3rem; }
    @media only screen and (max-width: 43.75em) {
      .section__about--second {
        padding-left: 0rem; } }
  .section__about--me h1 {
    position: relative;
    margin-bottom: 3rem;
    display: inline-block;
    padding-bottom: 2rem;
    color: #000; }
    .section__about--me h1:after {
      content: "";
      position: absolute;
      bottom: 1rem;
      left: 0%;
      display: inline-block;
      width: 15rem;
      border-bottom: 0.5rem solid #f2aa4cff; }
  .section__about--me p {
    font-weight: 400;
    color: #4e4e4e;
    margin-bottom: 3rem; }

.section__services {
  background-color: #4e4e4e;
  text-align: center;
  padding-bottom: 8rem; }

.section-header h2 {
  color: #f2aa4cff;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  margin-bottom: 1.2rem; }

.section-header h1 {
  font-size: 4.5rem;
  text-transform: capitalize;
  margin-bottom: 2.4rem; }

.section__projects {
  padding-bottom: 8rem;
  text-align: center; }

.project__heading h1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  color: #f2aa4cff; }

.project__button button {
  background-color: #4e4e4e;
  cursor: pointer;
  padding: 0.4rem 1rem 0.4rem 1rem; }
  .project__button button.active {
    color: #f2aa4cff !important; }

.project__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .project__row--box {
    flex-basis: 30%;
    margin: 1rem; }
    .project__row--box .img {
      margin-top: 1rem;
      width: 100%;
      overflow: hidden; }
      .project__row--box .img img {
        width: 100%;
        height: auto;
        filter: saturate(0%) brightness(100%) contrast(100%);
        transition: all 0.4s; }
        .project__row--box .img img:hover {
          filter: none;
          transform: scale(1.25); }
    .project__row--box .title {
      color: #fff;
      text-align: left;
      margin-left: 2rem; }
      .project__row--box .title h4 {
        font-weight: 500;
        font-size: 2rem;
        letter-spacing: 0.5rem;
        text-transform: uppercase; }

.section__contact {
  background-color: #fff; }
  .section__contact--header {
    color: #f2aa4cff;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.4rem; }

.contact {
  display: flex;
  flex-wrap: wrap; }
  .contact__column {
    background-color: #dcdcdc;
    color: #000;
    text-align: left;
    margin: 1rem 1rem;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    font-size: 1.6rem; }
    .contact__column--left {
      flex: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .contact__column--left > p {
        margin-top: 2rem; }
    .contact__column--right {
      flex: 60%; }
  .contact__info {
    display: flex;
    margin-top: 2rem;
    align-items: center; }
  .contact__icon-div {
    margin-right: 1.6rem; }
  .contact__icon {
    height: 2.5rem;
    width: 2.5rem; }
  .contact__detail-div {
    text-align: left; }
  .contact__para {
    font-size: 1.6rem; }
    .contact__para--1 {
      font-weight: 800; }
  .contact__social--icons .icon__facebook, .contact__social--icons .icon__twitter, .contact__social--icons .icon__instagram {
    width: 4.5rem;
    height: 4.5rem;
    margin: 2rem 1rem;
    border-radius: 50%;
    border: 2px solid #f2aa4cff;
    transform: translateY(0);
    transition: all 0.4s;
    fill: #f2aa4cff; }
    .contact__social--icons .icon__facebook:hover, .contact__social--icons .icon__twitter:hover, .contact__social--icons .icon__instagram:hover {
      transform: translateY(-1rem); }
  .contact__form .form {
    margin-top: 2rem; }
    .contact__form .form__name--email {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .contact__form .form__name--email input {
        border: 0.2rem solid #f2aa4cff;
        flex-basis: 48%; }
    .contact__form .form__input, .contact__form .form__textarea {
      font-size: 2rem;
      padding: 0.5rem;
      border-radius: 1rem;
      border: 1ps solid #dcdcdc;
      margin-top: 1.6rem;
      width: 100%; }
      .contact__form .form__input::placeholder, .contact__form .form__textarea::placeholder {
        font-size: 1.6rem; }
      .contact__form .form__input:focus, .contact__form .form__textarea:focus {
        outline: none; }
    .contact__form .form__textarea {
      height: 20rem; }
    .contact__form .form__btn {
      margin-top: 2rem; }
      .contact__form .form__btn .btn:link, .contact__form .form__btn .btn:visited {
        text-decoration: none;
        background-color: #f2aa4cff;
        color: #fff;
        border-radius: 1rem;
        text-align: center;
        background-size: 250%;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
        transition: all 0.4s;
        border: 1px solid #f2aa4cff; }
      .contact__form .form__btn .btn:hover, .contact__form .form__btn .btn:active {
        color: #f2aa4cff; }

footer {
  text-align: center;
  padding: 2rem;
  font-size: 1.6rem; }
  footer a {
    color: #fff;
    text-decoration: none; }
